*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

main{
    margin-top: 3%;
    text-align: center;
}

header{
    margin-bottom: 30px;
}

section{
    width: 45%;
    height: 80vh;
    margin-left: 27%;
    border: black solid 3px;
    position: relative;
}

.box{
    margin: 2%;
    border: 3px solid black;
    margin-top: 3%;   
}

.box1{
    line-height: 40px;
    border-bottom: black solid 3px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box2{
    background-color:indianred ;
    width: 15vw;
    height: 13vh;    
    float: left;
}

.box3{
    background-color:lightblue ;
    width: 25vw;
    height: 13vh;
    float: right;
}

.box4{
    width: 42.5vw;
    height:13vh;
    background-color:burlywood;
    position: absolute;
    right: 0px;
    top: 75%;
}